<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


 <!-- <link href="application.css" rel="stylesheet"> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
